<!DOCTYPE html>
<html>
  <head>
    <title>yara's porojects </title>
    <style>
      h1{
        font-size:40px;
        font-family:Roboto;
        font-weight:normal;
        color:rgb(255,153,204);
        text-align:center;
      }
      #banner{
        width:100%;
        height:600px;
        object-fit:cover;
      }
      h2{
        font-family:Roboto;
        font-size:32px;
        color:rgb(204,0,102);
        text-align:center;
        font-weight:normal;
      }
    </style>
  </head>
<body>
  <h1>Yara's projects</h1>
  <img id="banner"src="https://27980e5f-527a-4b4d-b4fc-5a7c4c7dabc7-00-2g1mnt22mbz29.sisko.repl.co/static/banner.jpg">
  <h2>About me</h2>
  <p>Hey there, I'm Yara, an AI practitioner working at Armco Digital. My passion lies in harnessing the power of technology to create innovative solutions. Python is my go-to language, and I excel at developing large-scale projects that push the boundaries of what's possible. It's truly exhilarating to see ideas come to life through code and witness the impact they have on the world. I thrive on challenges and relish the opportunity to solve complex problems. Being part of the Armco Digital team allows me to constantly learn and grow in this ever-evolving field. I'm excited to continue my journey as a Python developer and contribute to the ever-evolving AI landscape.</p>
  <h2>Project</h2>
  <p>TO DO - show projects</p>
  <button>Contact me</button>
</body>
</html>