<!DOCTYPE html>
<html>
  <head>
    
    <title>{{myname}}'s porojects </title>
    {% include'bootstrap.html'%}
    
  </head>
<body>
  <div class="container">
  <h1 class="text-center">{{myname}}'s projects</h1>
  {%include 'banner.html'%}
  <h2 class="text-center">About me</h2>
  <p>Hey there, I'm Yara, an AI practitioner working at Armco Digital. My passion lies in harnessing the power of technology to create innovative solutions. Python is my go-to language, and I excel at developing large-scale projects that push the boundaries of what's possible. It's truly exhilarating to see ideas come to life through code and witness the impact they have on the world. I thrive on challenges and relish the opportunity to solve complex problems. Being part of the Armco Digital team allows me to constantly learn and grow in this ever-evolving field. I'm excited to continue my journey as a Python developer and contribute to the ever-evolving AI landscape.</p>
  <h2 class="text-center mt-2 mb-4">Project</h2>
  <div>
    {%for item in myskills%}
    {%include 'myproject.html'%}
      {%endfor%}
  </div>
  <div class="text-center">
    <a href="/contactme" type="button" class="btn btn-secondary">Contact Me</a>
  <p> Copy right, {{myname}} </p>  
</div>
  </div>
</body>
</html>